* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  color-scheme: ligth dark;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor-personajes {
  padding: 30px;
  width: 600px;
  height: auto;
  /* border: 1px solid white; */
  /* box-shadow: 1px 1px 10px white; */
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

nav {
  width: 100%;
  height: 100%;
  padding: 20px;
  /* border-bottom: 1px solid white; */
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.brawler {
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  flex-direction: column;
  padding: 20px;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 7px white;
}

/* CODIGO DE BACKGROUND DE ESTRELLAS*/

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.space {
  --size: 2px;
  --space-layer: 4vw 100vh 0 #fff, 18vw 88vh 0 #fff, 73vw 14vh 0 #fff;
  width: var(--size);
  height: var(--size);
  background: white;
  box-shadow: var(--space-layer);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.75;
  animation: move var(--duration) linear infinite;
}
@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

/* CODIGO DE BUSQUEDA PALABRA */
.highlight {
  background-color: #004add;
}

/* BARRA DE BUSQUEDA */
input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  background-color: transparent;
  border: none;
  transform: scale(1.8);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

input[type="submit"]:hover {
  transform: scale(2.0);
}